.bg-con {
  border-style: solid;
}
.li-con {
  padding: 20px;
  margin: 20px;
}
.fav-con {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 10px;
  margin: 10px;
}
